/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 17px;
    line-height: 1.6;
    background-color: #d9d872;
}

.showcase{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../img/landing.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
    display: flex;
    color: white;
    flex-direction: column;
    vertical-align: super;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.showcase h1 {
    /* Text styles */
    font-size: 4em;
    
    /* Margins */
    margin-top: 0;
}

.showcase p {
    font-size: 1em;
    margin-bottom: 2em;
}


.fa {
    padding: 12px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    border-radius: 22%;
    display: inline-block;
    margin: 0 14px;
}
  
.fa:hover {
    opacity: 1;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-github {
    background: black;
    color: white;
} 