/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 17px;
    line-height: 1.6;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: center;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin-bottom: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.showcase{
    background-image: url('../img/landing.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    color: white;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: flex-end;
    padding: 0 50px;
}

.contend {
    display: block;
    justify-content: flex-end;
}

.showcase h1 {
    font-size: 60px;
}

.showcase h2 {
    font-size: 40px;
}